.text-align-center {
	text-align: center;
	font-size: 1em;
}

.letra{
	font-style: normal;
	font-weight: lighter;
	font-size: 0.7em;
	font-family: 'Raleway';
}


.item {
      display: block;
      width: 100%;
      height: 50vh;
}

.imagen:hover {filter: opacity(.5);}