<!DOCTYPE html>
{% load static %}

<html lang="es-co">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="oqg" content="">

    <title>Coffee Maze</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'css/css_.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/css_1.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/css_2.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/css_3.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/business-casual.min.css' %}" rel="stylesheet">

    <!--Redes sociales -->
    <link href="{% static 'css/bootstrap-social.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-social.less' %}" rel="stylesheet">

  </head>

  <body <div class="grid-block" style="background-image: url('http://img.fenixzone.net/i/tHcNAPF.jpeg'); width: 100; height: 100; ">>

    <h1 class="site-heading text-center text-white">
      <span class="site-heading-upper text-primary mb-3">COFFEE MAZE</span>
      <span class="site-heading-lower">Café Opita</span>
    </h1>

    <!-- Navigation -->
{% include "navbar.html" %}

    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/taza.jpg' %}" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Café Colombiano</span>
            </h2>
            <p class="mb-3" align="justify">A nivel mundial, Colombia es el primer país productor de café y el mayor productor de café suave en el mundo.
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="quienes-somos">Saber más!</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">JAJAJAJA</span>
              </h2>
              <p class="mb-0"La</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; OQG 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>