<!DOCTYPE html>
{% load static %}
<html lang="es-co">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="oqg" content="">

    <title>Coffee Maze</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'css/css_.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/css_1.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/css_2.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/css_3.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/business-casual.min.css' %}" rel="stylesheet">

  </head>

  <body <div class="grid-block" style="background-image: url('http://img.fenixzone.net/i/tHcNAPF.jpeg'); width: 100; height: 100; ">>

    <h1 class="site-heading text-center text-white">
      <span class="site-heading-upper text-primary mb-3">COFFEE MAZE</span>
      <span class="site-heading-lower">Café Opita</span>
    </h1>

    <!-- Navigation -->
{% include "navbar.html" %}

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-lower">Café Molido</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/cafe-molido.jpg' %}" alt="">
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">je jjjj jjjjj jj jjj jjjj, jjj jj jjjjj. jjjjj jjjj jjj jjjjj j.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex mr-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-lower">Café Tostado</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/cafe-tostado.jpg' %}" alt="">
          <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">je jjjj jjjjj jj jjj jjjj, jjj jj jjjjj. jjjjj jjjj jjj jjjjj j.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-lower">Café en Grano</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/cafe-granos.png' %}" alt="">
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">je jjjj jjjjj jj jjj jjjj, jjj jj jjjjj. jjjjj jjjj jjj jjjjj j.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; OQG 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
